@font-face {
	font-family: main;
	font-weight: 200;
	src: url("./../assets/fonts/Unbounded-ExtraLight.ttf");
}
@font-face {
	font-family: main;
	font-weight: 300;
	src: url("./../assets/fonts/Unbounded-Light.ttf");
}
@font-face {
	font-family: main;
	font-weight: 400;
	src: url("./../assets/fonts/Unbounded-Regular.ttf");
}
@font-face {
	font-family: main;
	font-weight: 500;
	src: url("./../assets/fonts/Unbounded-Medium.ttf");
}
@font-face {
	font-family: main;
	font-weight: 600;
	src: url("./../assets/fonts/Unbounded-SemiBold.ttf");
}
@font-face {
	font-family: main;
	font-weight: 700;
	src: url("./../assets/fonts/Unbounded-Bold.ttf");
}
@font-face {
	font-family: main;
	font-weight: 800;
	src: url("./../assets/fonts/Unbounded-ExtraBold.ttf");
}
@font-face {
	font-family: main;
	font-weight: 900;
	src: url("./../assets/fonts/Unbounded-Black.ttf");
}
